{% extends 'VentureCustomerBundle::layout.html.twig' %}

{% block title %}Update Existing Customer{% endblock%}

{% block middle %}
    {{ parent() }}

    <div class="row">
        <div class="col-md-12">
            <h4>Customer: Update</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    {% include 'VentureCustomerBundle:Customer:form.html.twig' %}

{% endblock %}
