{% extends 'VentureDashBoardBundle::layout.html.twig' %}

{% block title %}Dashboard Module Listing{% endblock%}

{% block middle %}
    {{ parent() }}

    <div class="row">
        <div class="col-md-12">
            <h4>Dashboard</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>List all items that are below their Re-order Amount in stock</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>List all items that we have open Purchase Orders For</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>List all Work Orders that should be completed today</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>List all Work Orders that were completed yesterday</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>List everything that shipped out yesterday</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>List everything that received out yesterday</p>
        </div>
    </div>

{% endblock %}  