{% extends '::venture-boot.html.twig' %}

{% block menu2 %}
        <li>
            <a href="{{ path('venture_raw_materials_list', {'type': 'show_all'}) }}" class="active">Raw Materials</a>
        </li>
{% endblock %}