{% extends 'FOSUserBundle::layout.html.twig' %}

{% block title %}Role Listing{% endblock%}

{% block main %}
    {{ parent() }}

<div class="cont font-check">
    <h4 class="desc-cont">Role CONFIGURATION</h4>
  	
    {% include "FOSUserBundle:Group:list_content.html.twig" %}
    
</div>
{% endblock %}
