{% extends 'FOSUserBundle::layout.new.html.twig' %}

{% block title %}Role Add{% endblock%}

{% block middle %}
    {{ parent() }}

    <div class="row">
        <div class="col-md-12">
            <h4>Role Add</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    {% include "FOSUserBundle:Group:new_content.html.twig" %}

{% endblock %}