{% extends '::venture-boot.html.twig' %}

{% block menu14 %}
        <li><a href="{{ path('venture_list_alternate_raw_material', {'type': 'show_all'}) }}" class="active">Alternate Raw Materials</a></li>
{% endblock %}
