{% extends 'SettingsConfigBundle::layout.html.twig' %}

{% block title %}Shipping Methods Listing{% endblock%}

{% block main %}
    {{ parent() }}
<div class="cont font-check">
    <h4 class="desc-cont">SHIPPING METHOD CONFIGURATION</h4>	
    {% include 'SettingsConfigBundle:ShippingMethod:list.html.twig' with { 'methods': methods } %}
     <h4 class="desc-cont">Add Shipping Method:</h4>
    <div class = "form_container">   
        {% render controller('SettingsConfigBundle:ShippingMethod:create') %}
    </div>
</div>
<div style="padding-bottom:40px;clear:both;"></div>
{% endblock %}