/* 
    Document   : common
    Created on : Aug 29, 2013, 9:34:44 AM
    Author     : rezowan
    Description:
        Purpose of the stylesheet follows.
*/
body {
    font-family: 'Varela',"Trebuchet MS",Arial,Helvetica,sans-serif;
}
.maincont {
    float:left;
    background-color: #FFFFFF;
    border: 0 solid;
    box-shadow: 0 1px 4px 0 #888888;
    width: 100%;
}
div.cont {
    color: #767676;
    padding: 10px;
}

.maincont h2{
color: #767676;
padding-left:25px;
font-family:  'Varela',"Trebuchet MS",Arial,Helvetica,sans-serif;
}

h2.heading {
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
    display: block;
    font-size: 15px;
    margin: 5px 0;
    padding: 5px 0;
}

/*
#hor-minimalist-a
{
	font-family:  'Varela',"Trebuchet MS",Arial,Helvetica,sans-serif; color:#444;
	font-size: 12px;
	background: #fff;
	margin: 20px;
	width: 90%;
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist-a th
{
	font-size: 14px;
	font-weight: bold;
	color: #767676;
	padding: 10px 8px;
}
#hor-minimalist-a td
{
	color: #767676;
	padding: 2px 8px 0px 8px;
}
#hor-minimalist-a tbody tr:hover td
{
	color: #767676;
}*/

.my_custom_anchor{
text-decoration:none;
color: #767676;
}

.maincont  .configmain_title_header{
color: #767676;
padding-left:25px;
font-family:  'Varela',"Trebuchet MS",Arial,Helvetica,sans-serif;
font-weight: bold;
font-size:17px;
}

.maincont .style_vendor_details{
color: #767676;
/*padding-left:25px;*/
}

.maincont .notice{
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
color: #DEB887;
background-color: #FFF;
}
div.button_place_holder{
padding-bottom:10px;
}
.vendor_form_button {
/*width: 185px; height: 27px; border: 1px solid #717171; font-weight:normal; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background:#fff;*/
  display: block;
    float: left;
    height: 25px;
    width: 170px;
}
.form_button {width: 185px; height: 27px; border: 1px solid #717171; font-weight:normal; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background:#fff;}

table.rawListing {
    font-size: 13px;
    text-align: left;
    width: 100%;
}

table.rawListing a{
    text-decoration: none;
    color: inherit;
}

table.rawListing a:hover{
    font-weight: bold;
}

#hor-minimalist-a {
    margin-top: 20px;
    width: 100%;
}

#hor-minimalist-a thead {
    font-size: 14px;
}

#hor-minimalist-a thead tr th{
    text-align: left;
}

#hor-minimalist-a tbody {
    font-size: 12px;
}

#hor-minimalist-a tbody tr td a{
    color: inherit;
    text-decoration: none;
}

#hor-minimalist-a tbody tr td a:hover{
    font-weight: bold;
}

div.listing-label {
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
    clear: both;
    float: left;
    font-size: 12px;
    margin: 20px 0;
    padding: 2px 0;
    width: 100%;
}


p.label {
    float: left;
    margin: 0;
    padding: 0;
    width: 450px;
	 padding-bottom: 15px;
}

p.list-all {
    display: inline;
    float: right;
    margin: 0;
    padding: 0;
}


.thin_liner {
    border-bottom: 1px solid #999999;
    display: block;
    font-size: 15px;
    margin: 5px 0;
    padding: 5px 0;
}


.clear {
    clear: both;
}

/*==========*/
div.font-check{
    font-size:13px;
}
h4.desc-cont {
    border-bottom: 1px solid #999999;
    font-size: 14px;
    margin: 0;
    padding: 10px 0 5px;
}


div.property-cont {
   /* border-bottom: 1px solid #999999;*/
    float: left;
    padding-bottom: 10px;
    width: 100%;
}

div.property-cont-row-first {
    border-top: 1px solid #999999;
    float: left;
    padding-bottom: 10px;
    width: 100%;
}

div.property-cont-row {
    float: left;
    padding-bottom: 10px;
    width: 100%;
}

div.form-element-controller {float: left; width: 100%; }
div.smaller-width {width:49%}

p.label {
    float: left;
    margin: 0;
    padding: 0;
    width: 450px;
}

p.label {
    padding-bottom: 15px;
}


select.selectBoxWidthFix{ width:230px;}
select.heightFix{ height:100px;}
textarea.textAreaWidthFix{ width:230px; height:115px}

div.form-left-cloumn{float:left; width: 49%;}
div.form-right-cloumn{float:left; width: 49%;}

div.border-bottom{border-bottom: 1px solid #999999; margin-bottom: 10px;}


/*pipe-line css*/
p.widget select{ width: 234px;}

ul.shipping, ul.spec{margin: 0; padding: 0; list-style: none; float: left;}
ul.shipping li, ul.spec li {}
ul.shipping li div.total, ul.spec li div.total{ float: left; height:35px; width: 100%}
ul.shipping li div.total div, ul.spec li div.total div{float:left; margin-right: 7px;}
ul.shipping li div.total div select, ul.spec li div.total div select{width:80px;}
ul.shipping li div.total div input{width:90px;}
ul.spec li div.total div input {width:607px;}

a.del_prop {
    display: block;
    float: right;
    font-size: 10px;
    color: inherit;
    padding-right: 17px;
    text-decoration: none;
}
a.del_prop:hover {
    font-weight: bold;
}

button.add_ship,
button.add_prop,
button.add-new { width: 150px;}

div.upper-border{border-top:1px solid silver}