{% extends 'SettingsConfigBundle::layout.new.html.twig' %}

{% block title %}Stage Listing{% endblock%}

{% block middle %}
    {{ parent() }}
    <div class="row">
        <div class="col-md-12">
            <h4>STAGE CONFIGURATION</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    {% include 'SettingsConfigBundle:Stage:list.html.twig' with { 'stages': stages } %}

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Edit Stage:</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    {% render controller('SettingsConfigBundle:Stage:create', {'id' : stage_id}) %}

{% endblock %}