{% extends 'VentureAlternateRawMaterialBundle::layout.new.html.twig' %}

{% block title %} Alternate Raw Material Settings {% endblock%}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@VentureAlternateRawMaterialBundle/Resources/public/js/form.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


{% block middle %}
    {{ parent() }}

    <div class="row">
        <div class="col-md-12">
            <h4>Alternate Raw Materials: Add</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    {% include 'VentureAlternateRawMaterialBundle:AlternateRawMaterial:form.html.twig' %}

{% endblock %}