{% extends '::venture-boot.html.twig' %}

{% block menu5 %}
        <li>
            <a href="{{ path('venture_finished_product_list', {'type': 'show_all'}) }}" class="active">Finished Products</a>
        </li>
{% endblock %}
