{% extends '::venture-boot.html.twig' %}

{% block menu7 %}
    <li><a href="{{ path('venture_competitive_product_list', {'type': 'show_all'}) }}" class="active">Competitive Products</a></li>
{% endblock %}