ul.spec{ float:left; display: block; list-style: none; padding: 0 0 10px 0; margin: 0; width: 100%}
ul.spec li{ width:100%; float:left; display:block;}
ul.spec li div{float:left}
ul.spec li div div{width:25%; float:left; display:block;}
ul.spec li select { width:170px; margin-top:15px;}
ul.spec li input { width:170px; margin-top:15px;}
ul.spec li a.del_prop {
    display: block;
    float: right;
    font-size: 10px;
    color: inherit;
    padding-right: 17px;
    text-decoration: none;
}
ul.spec li a.del_prop:hover {
    font-weight: bold;
}


ul.shipping{ float:left; display: block; list-style: none; padding: 0 0 10px 0; margin: 0; width: 100%}
ul.shipping li{ width:100%; float:left; display:block; margin-bottom: 15px;}
ul.shipping li div.total{float:left; width:100%;}

ul.shipping li div.left_form{float:left; width:170px;}
ul.shipping li div.left_form select { width:135px; margin-top: 15px;}

ul.shipping li div.right_form{float:left; width:580px;}
ul.shipping li div.right_form div { display: block; float: left; height: 60px; width: 25%; }
ul.shipping li div.right_form select { width:135px; margin-top: 15px;}
ul.shipping li div.right_form input { width:135px; margin-top: 15px;}
ul.shipping li a.del_prop {display: block; float: right; font-size: 10px; color: inherit; padding-right: 17px; text-decoration: none; }
ul.shipping li a.del_prop:hover { font-weight: bold; }

div.full-width { float:left; width: 100%;}
div.full-width p{ float:left; width:125px;}
div.fix-width {width: 400px}