{% extends '::venture-boot.html.twig' %}

{% block menu4 %}
        <li>
            <a href="{{ path('venture_intermediate_list', {'type': 'show_all'}) }}" class="active">Intermediates</a>
        </li>
{% endblock %}
