{% extends "FOSUserBundle::layout.new.html.twig" %}

{% block title %}Register User{% endblock%}

{% block middle %}
    {{ parent() }}

    <div class="row">
        <div class="col-md-12">
            <h4>User Registration</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    {% include "FOSUserBundle:Registration:register_content.html.twig" %}

{% endblock %}