/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 29, 2014, 9:33:47 PM
    Author     : rezowan
*/
table#hor-minimalist-a tr {padding:10px 0}
table#hor-minimalist-a tr td ul { margin:0; padding: 0; list-style: none; color:#FF0000;}
table#hor-minimalist-a tr td ul li { font-size: 13px; padding:5px 0 }

