{% extends 'SettingsConfigBundle::layout.new.html.twig' %}

{% block title %}Unit Of Measure Listing{% endblock%}

{% block middle %}
    {{ parent() }}
    <div class="row">
        <div class="col-md-12">
            <h4>Unit Of Measure Configuration</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    {% include 'SettingsConfigBundle:UnitOfMeasure:list.html.twig' with { 'units': units } %}

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Edit Unit Of Measure:</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    {% render controller('SettingsConfigBundle:UnitOfMeasure:create', {'id' : unit_id}) %}

{% endblock %}