{% extends 'SettingsConfigBundle::layout.new.html.twig' %}

{% block title %}Type Listing{% endblock%}

{% block middle %}
    {{ parent() }}
    <div class="row">
        <div class="col-md-12">
            <h4>PipeLine Type CONFIGURATION</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    {% include 'SettingsConfigBundle:Pipelinetype:list.html.twig' with { 'alltype': alltype } %}

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Edit Type:</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    {% render controller('SettingsConfigBundle:Pipelinetype:create', {'id' : type_id}) %}

{% endblock %}