{% extends 'SettingsConfigBundle::layout.new.html.twig' %}

{% block title %}Location Listing{% endblock%}

{% block middle %}
    {{ parent() }}
    <div class="row">
        <div class="col-md-12">
            <h4>Location CONFIGURATION</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    {% include 'SettingsConfigBundle:Location:list.html.twig' with { 'locations': locations } %}

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Add Location:</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    {% render controller('SettingsConfigBundle:Location:create') %}

{% endblock %}