<div class="col-md-12">
    <div class="form-group">
        {{ form_label(note.body) }}
        {{ form_widget(note.body, {'attr': {'class' : 'form-control input-sm'} }) }}
        {{ form_errors(note.body) }}
    </div>
</div>