{% extends "FOSUserBundle::layout.new.html.twig" %}

{% block title %}Password Reset{% endblock%}

{% block middle %}
    {{ parent() }}

    <div class="row">
        <div class="col-md-12">
            <h4>Update Password</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}

{% endblock %}

{% block welcome_menu_2 %}
    <li class="border-right"><a href="{{ path('fos_user_change_password') }}" class="active">Change Password</a></li>
{% endblock %}

{% block footer_menu3 %}
    <li><a href="{{ path('venture_users_list') }}">User</a></li>
{% endblock %}