{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Password Reset{% endblock%}

{% block main %}
    {{ parent() }}

<div class="cont font-check">
    <h4 class="desc-cont">Update Password</h4>
  	
    {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
</div>
{% endblock %}

{% block welcome_menu_2 %}
    <li class="activeMenu">
        <a href="{{ path('fos_user_change_password') }}">Change Password</a> |
    </li>
{% endblock %}