{% extends 'SettingsConfigBundle::layout.new.html.twig' %}

{% block title %}Product Line Listing{% endblock%}

{% block middle %}
    {{ parent() }}
    <div class="row">
        <div class="col-md-12">
            <h4>PRODUCT LINE CONFIGURATION</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    {% include 'SettingsConfigBundle:ProductLine:list.html.twig' with { 'productLines': productLines } %}

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Edit Product Line:</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    {% render controller('SettingsConfigBundle:ProductLine:create', {'id' : product_line_id}) %}

{% endblock %}