{% extends 'VentureCompetitiveProductBundle::layout.html.twig' %}

{% block title %} Competitive Product Settings {% endblock%}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@VentureCompetitiveProductBundle/Resources/public/js/form.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
        

{% block middle %}
    {{ parent() }}

    <div class="row">
        <div class="col-md-12">
            <h4>Competitive Product: Entry</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="border"></div>
        </div>
    </div>

    {% include 'VentureCompetitiveProductBundle:CompetitiveProduct:form.html.twig' %}

{% endblock %}  