{% extends 'VentureCompetitiveProductBundle::layout.html.twig' %}


{% block title %} Competitive Product Settings {% endblock%}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@VentureCompetitiveProductBundle/Resources/public/js/competitive_product_form.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
        

{% block main %}
    {{ parent() }}
        <div class="cont font-check">
            <h4 class="desc-cont">{{ "competitive product: update" | upper }}</h4>
            
            {% include 'VentureCompetitiveProductBundle:CompetitiveProduct:form.html.twig' %}
            
        </div>
{% endblock %}  